riot_secret.txt
tournament_key.txt
client_secret.json
db_pass.txt
.match_cache/
build/
dist/
__pycache__/
*.spec
.cache/
config.json
.ipynb_checkpoints/
.pyupdater/
keypack.pyu
pyu-data/
output_files/